nav {
    background-color:rgb(8, 23, 92);
    color:white;
    height: 8%;
    text-align: center;
}
button{
    background-color:rgb(8, 23, 92);
    border-radius: 20px;
    border-width: 0;
    width: 30%;
    height: 10%;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 0.2s;
}
button:hover{
    background-color: rgb(48, 175, 154);
    color: black;
}
body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
}
.navelement p{
    background-color: rgb(30, 65, 119);
    width: 10%;
    color:white; 
    border-radius: 3px; 
    padding: 15px;
    transition-duration: 0.2s;
}
.comics {
    text-align: center;
}
a p:hover{
    background-color: rgb(48, 175, 154);
    color: black;
}
.readable {
    background-color: rgb(40, 138, 37);
    width: 20%;
    color:white; 
    border-radius: 3px; 
    padding: 20px;
    transition-duration: 0.2s;
}